[data-dark-mode="true"] {
  html #home-page,
  body #home-page {
    background: #2e3031 !important;
  }

  .site-content {
    background: #2e3031 !important;
  }

  #primary {
    background: #2e3031 !important;
  }

  .article--viewer_content .a-wrapper .content {
    background: #2e3031 !important;
  }

  .gfg-footer .footer-wrapper {
    background: #222424 !important;
  }

  .header-main__container {
    background: #1f2121 !important;
  }

  .main_wrapper {
    background: #2e3031 !important;
  }

  body.page .wrapper {
    background: #2e3031 !important;
  }

  #main {
    background: #2e3031 !important;
  }

  .page {
    background: #2e3031 !important;
  }

  .wrapper {
    background: #2e3031 !important;
  }

  .rightBar {
    background: #2e3031 !important;
  }

  .article--recommended {
    background: #222424 !important;
  }

  .top-bar-title {
    background-color: transparent !important;
  }

  #hslider {
    /* opacity: 0.5 !important; */
    transition: opacity 0.5s ease !important;
  }

  #hslider:hover {
    /* opacity: 1 !important; */
    transition: opacity 0.5s ease !important;
  }

  #hslider a {
    opacity: 0.5 !important;
    color: white !important;
  }

  #hslider a:hover {
    color: #3685ec !important;
    opacity: 1 !important;
  }

  .sidebar_wrapper {
    background: #2e3031 !important;
  }
  .rightBar {
    background: #2e3031 !important;
  }

  .article--viewer_content .a-wrapper .content .text pre {
    background: #222424 !important;
    color: white;
  }
}

[data-dark-mode="false"] {
  html #home-page,
  body #home-page {
    color: rgba(0, 0, 0, 0.8) !important;
  }

  .site-content {
    color: rgba(0, 0, 0, 0.8) !important;
  }

  #primary {
    color: rgba(0, 0, 0, 0.8) !important;
  }

  #hslider {
    opacity: 0.7 !important;
    transition: opacity 0.5s ease !important;
  }

  #hslider:hover {
    opacity: 1 !important;
    transition: opacity 0.5s ease !important;
  }

  #hslider a {
    color: black !important;
  }

  #hslider a:hover {
    color: #3685ec !important;
  }
}

.sideBar {
  opacity: 0 !important;
  transition: opacity 0.5s ease !important;
}

.sideBar:hover {
  opacity: 1 !important;
  transition: opacity 0.5s ease !important;
}

.widget-area {
  opacity: 0 !important;
  transition: opacity 0.5s ease !important;
}

.widget-area:hover {
  opacity: 1 !important;
  transition: opacity 0.5s ease !important;
}

.article--viewer_content a {
  color: #3685ec !important;
}

a {
  color: #3685ec !important;
}

.currentpage a {
  color: #3685ec !important;
}

::selection {
  background-color: #3b85d5 !important;
}

::-moz-selection {
  background-color: #3b85d5 !important;
}
